<div class="col-md-6">
	<div class="block__2__item">
		<div class="img__container">
			<img src="img/block-2-item-img-1.png" alt="">
		</div>

		<div class="content__container">
			<h2 class="title">Web design</h2>
			<p class="text">Aliquam sagittis neque in lectus semper, nec elementum arcu scelerisque. Curabitur ullamcorper auctor mauris, placerat fermentum.</p>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="block__2__item">
		<div class="img__container">
			<img src="img/block-2-item-img-2.png" alt="">
		</div>

		<div class="content__container">
			<h2 class="title">Web Applications</h2>
			<p class="text">Aliquam sagittis neque in lectus semper, nec elementum arcu scelerisque. Curabitur ullamcorper auctor mauris, placerat fermentum.</p>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="block__2__item">
		<div class="img__container">
			<img src="img/block-2-item-img-3.png" alt="">
		</div>

		<div class="content__container">
			<h2 class="title">Digital paiting</h2>
			<p class="text">Aliquam sagittis neque in lectus semper, nec elementum arcu scelerisque. Curabitur ullamcorper auctor mauris, placerat fermentum.</p>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="block__2__item">
		<div class="img__container">
			<img src="img/block-2-item-img-4.png" alt="">
		</div>

		<div class="content__container">
			<h2 class="title">Desktop Applications</h2>
			<p class="text">Aliquam sagittis neque in lectus semper, nec elementum arcu scelerisque. Curabitur ullamcorper auctor mauris, placerat fermentum.</p>
		</div>
	</div>
</div>