<div class="col-md-3 col-sm-6">
	<div class="team__user">
		<div class="team__user__photo">
			<img src="img/team-user-photo1.png" alt="">
		</div>

		<h2 class="team__user__name">John Doe</h2>

		<p class="team__user__info">Curabitur ullamcorper auctor mauris, placerat fermentum.</p>
	</div>
</div>

<div class="col-md-3 col-sm-6">
	<div class="team__user">
		<div class="team__user__photo">
			<img src="img/team-user-photo2.png" alt="">
		</div>

		<h2 class="team__user__name">John Doe</h2>

		<p class="team__user__info">Aliquam sagittis neque in lectus semper, arcu scelerisque.</p>
	</div>
</div>

<div class="col-md-3 col-sm-6">
	<div class="team__user">
		<div class="team__user__photo">
			<img src="img/team-user-photo3.png" alt="">
		</div>

		<h2 class="team__user__name">John Doe</h2>

		<p class="team__user__info">Curabitur ullamcorper auctor mauris, placerat fermentum.</p>
	</div>
</div>

<div class="col-md-3 col-sm-6">
	<div class="team__user">
		<div class="team__user__photo">
			<img src="img/team-user-photo4.png" alt="">
		</div>

		<h2 class="team__user__name">John Doe</h2>

		<p class="team__user__info">Neque in lectus semper, nec elementum arcu scelerisque. </p>
	</div>
</div>