<script src="js/main.js"></script>

<!-- Initialize Swiper -->
<script>
	var swiper = new Swiper('.swiper-container', {
		nextButton: '.swiper-button-next',
		prevButton: '.swiper-button-prev',
		paginationClickable: true,
		slidesPerView: 3,
		spaceBetween: 0,
		breakpoints: {
			1024: {
				slidesPerView: 2,
				spaceBetween: 0
			},
			768: {
				slidesPerView: 2,
				spaceBetween: 0
			},
			640: {
				slidesPerView: 1,
				spaceBetween: 0
			},
			320: {
				slidesPerView: 1,
				spaceBetween: 0
			}
		}
	});
</script>

<script src="https://use.fontawesome.com/87f211dfea.js"></script>

</body>
</html>