<div class="swiper-slide">
	<img src="img/slider-item1.jpg" alt="">
	<div class="slider__content">
		<h2 class="slider__content__title">Neptune template</h2>
		<p class="slider__content__text">Aliquam sagittis neque in lectus semper, nec elementum arcu scelerisque. Curabitur ullamcorper auctor mauris, placerat fermentum.</p>
		<a href="#" class="slider__content__btn">Watch more</a>
	</div>
</div>


<div class="swiper-slide">
	<img src="img/slider-item2.jpg" alt="">
	<div class="slider__content">
		<h2 class="slider__content__title">Neptune template</h2>
		<p class="slider__content__text">Aliquam sagittis neque in lectus semper, nec elementum arcu scelerisque. Curabitur ullamcorper auctor mauris, placerat fermentum.</p>
		<a href="#" class="slider__content__btn">Watch more</a>
	</div>
</div>

<div class="swiper-slide">
	<img src="img/slider-item3.jpg" alt="">
	<div class="slider__content">
		<h2 class="slider__content__title">Neptune template</h2>
		<p class="slider__content__text">Aliquam sagittis neque in lectus semper, nec elementum arcu scelerisque. Curabitur ullamcorper auctor mauris, placerat fermentum.</p>
		<a href="#" class="slider__content__btn">Watch more</a>
	</div>
</div>

<div class="swiper-slide">
	<img src="img/slider-item1.jpg" alt="">
	<div class="slider__content">
		<h2 class="slider__content__title">Neptune template</h2>
		<p class="slider__content__text">Aliquam sagittis neque in lectus semper, nec elementum arcu scelerisque. Curabitur ullamcorper auctor mauris, placerat fermentum.</p>
		<a href="#" class="slider__content__btn">Watch more</a>
	</div>
</div>

<div class="swiper-slide">
	<img src="img/slider-item2.jpg" alt="">
	<div class="slider__content">
		<h2 class="slider__content__title">Neptune template</h2>
		<p class="slider__content__text">Aliquam sagittis neque in lectus semper, nec elementum arcu scelerisque. Curabitur ullamcorper auctor mauris, placerat fermentum.</p>
		<a href="#" class="slider__content__btn">Watch more</a>
	</div>
</div>